<h1 class="text-center mt-5">Lista de Encaminhamentos</h1>
<div class="container mt-4">
        {{#if error_msg}}
            <div class="message error" aria-live="polite">{{error_msg}}</div>
        {{/if}}
        {{#if success_msg}}
            <div class="message success" aria-live="polite">{{success_msg}}</div>
        {{/if}}
    <table class="table table-striped table-bordered">
        <thead >
            <tr>
                <th>ID</th>
                <th>Matrícula Paciente</th>
                <th>Nome do Paciente</th>
                <th>Nome do Profissional</th>
                <th>Assunto Aconhimento</th>
                <th>Status Acolhimento</th>
                <th>Visualizado</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each encaminhamentos}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.matriculaPaciente}}</td>
                    <td>{{this.nomePaciente}}</td>
                    <td>{{this.nomeProfissional}}</td>
                    <td>{{this.assuntoAcolhimento}}</td>
                    <td>{{this.statusAcolhimento}}</td>
                    <td>{{this.visualizado}}</td>
                    <td>
                        <a href="/encaminhamentos/{{this.id}}/visualizar" class="btn btn-info btn-sm">Marcar como Visualizado</a>
                        <a href="/encaminhamentos/{{this.id}}/edit" class="btn btn-warning btn-sm">Editar</a>
                        <form action="/encaminhamentos/{{this.id}}?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="text-center">
    </div>
</div>
