<h1>Lista de Ajustes de Estoque</h1>
<a href="/ajustes/create">Adicionar Ajuste</a>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Tipo</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each ajustes}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.produto.nome}}</td> <!-- Mostra o nome do produto -->
      <td>{{this.quantidade}}</td>
      <td>{{this.tipo}}</td>
      <td>{{this.data}}</td>
      <td>
        <a href="/ajustes/{{this.id}}/edit">Editar</a>
        <form action="/ajustes/{{this.id}}?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Deletar</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
