<h1>Lista de Ajustes de Estoque</h1>
<form action="/ajustes/create" method="GET">
  <button type="submit">Adicionar Ajuste</button>
</form>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Tipo</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each ajustes}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.produto.nome}}</td> <!-- Mostra o nome do produto -->
      <td>{{this.quantidade}}</td>
      <td>{{this.tipo}}</td>
      <!-- Formata a data para exibição -->
      <td>{{formatDateTime this.data}}</td>
      <td>
        <a href="/ajustes/{{this.id}}/edit">Editar</a>
        <form action="/ajustes/{{this.id}}?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit" style="background-color:red; color:white; padding:5px 10px; border:none; cursor:pointer;">Deletar</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
