<h1 class="text-center my-4">Editar Evento</h1>

{{#if errorMessage}}
    <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{{/if}}

<form action="/eventos/{{evento.id}}" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT">

    <div class="mb-3">
        <label for="titulo" class="form-label">Título:</label>
        <input type="text" id="titulo" name="titulo" class="form-control" value="{{evento.titulo}}" required>
        <div class="invalid-feedback">Por favor, insira um título.</div>
    </div>

    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição:</label>
        <textarea id="descricao" name="descricao" class="form-control" required>{{evento.descricao}}</textarea>
        <div class="invalid-feedback">Por favor, insira uma descrição.</div>
    </div>

    <div class="mb-3">
        <label for="localizacao" class="form-label">Localização:</label>
        <input type="text" id="localizacao" name="localizacao" class="form-control" value="{{evento.localizacao}}" required>
        <div class="invalid-feedback">Por favor, insira uma localização.</div>
    </div>

    <div class="mb-3">
        <label for="dataHoraInicio" class="form-label">Data e Hora Início:</label>
        <input type="datetime-local" id="dataHoraInicio" name="dataHoraInicio" class="form-control" value="{{formatDateTime evento.dataHoraInicio}}" required>
        <div class="invalid-feedback">Por favor, insira a data e hora de início.</div>
    </div>

    <div class="mb-3">
        <label for="dataHoraFim" class="form-label">Data e Hora Fim:</label>
        <input type="datetime-local" id="dataHoraFim" name="dataHoraFim" class="form-control" value="{{formatDateTime evento.dataHoraFim}}" required>
        <div class="invalid-feedback">Por favor, insira a data e hora de fim.</div>
    </div>

    <div class="mb-3">
        <label for="responsaveis" class="form-label">Responsáveis:</label>
        <input type="text" id="responsaveis" name="responsaveis" class="form-control" value="{{evento.responsaveis}}" required>
        <div class="invalid-feedback">Por favor, insira os responsáveis.</div>
    </div>

    <div class="mb-3">
        <label for="link" class="form-label">Link:</label>
        <input type="url" id="link" name="link" class="form-control" value="{{evento.link}}" required>
        <div class="invalid-feedback">Por favor, insira um link válido.</div>
    </div>

    <div class="mb-3">
        <label for="privacidade" class="form-label">Privacidade:</label>
        <select id="privacidade" name="privacidade" class="form-select" required>
            <option value="Público Geral" {{#if (eq evento.privacidade "Público Geral")}}selected{{/if}}>Público Geral</option>
            <option value="Servidores" {{#if (eq evento.privacidade "Servidores")}}selected{{/if}}>Servidores</option>
        </select>
        <div class="invalid-feedback">Por favor, selecione uma opção de privacidade.</div>
    </div>

    <div class="mb-3">
        <label for="imagens" class="form-label">Imagens:</label>
        <div class="mb-2">
            {{#if evento.imagens}}
                {{#each evento.imagens}}
                  <img src="/uploads/{{this.path}}" alt="Imagem do Evento" class="img-thumbnail" style="max-width: 150px; height: auto;">
                {{/each}}
            {{else}}
                <p>Nenhuma imagem disponível.</p>
            {{/if}}
        </div>
        <input type="file" id="imagens" name="imagens" accept="image/*" multiple>
    </div>



    <button type="submit" class="btn btn-success">Atualizar Evento</button>
</form>

<div class="mt-3">
    <a href="/eventos" class="btn btn-secondary">Voltar</a>
</div>

<!-- Scripts para validação do formulário -->
<script>
    // Exemplo de validação de formulário
    (function () {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
