<h1 class="text-center my-4">Eventos</h1>
<div class="d-flex justify-content-end mb-3">
    <a href="/eventos/create" class="btn btn-primary">Criar Novo Evento</a>
</div>

<!-- Formulário de busca -->
<form action="/eventos" method="GET" class="mb-3">
    <div class="input-group">
        <input type="text" name="titulo" class="form-control" placeholder="Buscar por título" value="{{search.titulo}}"><br>
        <input type="date" name="dataHoraInicio" class="form-control" placeholder="Buscar por data" value="{{search.dataHoraInicio}}">
        <button type="submit" class="btn btn-secondary">Buscar</button>
    </div>
</form>

{{#if errorMessage}}
    <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{{/if}}

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Data e Hora Início</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {{#each eventos}}
            <tr>
                <td>{{this.titulo}}</td>
                <td>{{this.descricao}}</td>
                <td>{{formatDate this.dataHoraInicio}}</td> <!-- Formato de data -->
                <td>
                    <div class="btn-group" role="group">
                        <a href="/eventos/{{this.id}}/edit" class="btn btn-warning btn-sm">Editar</a>
                        <form action="/eventos/{{this.id}}?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Você tem certeza que deseja excluir este evento?');">Deletar</button>
                        </form>
                    </div>
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="4" class="text-center">Nenhum evento encontrado.</td>
            </tr>
        {{/each}}
    </tbody>
</table>
