<h1>Lista de Atendimentos</h1>
<a href="/atendimentos/create">Novo Atendimento</a>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Paciente</th>
      <th>Profissional</th>
      <th>Assunto</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each atendimentos}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.paciente.nome}}</td> <!-- Nome do paciente relacionado -->
      <td>{{this.profissional.nome}}</td> <!-- Nome do profissional relacionado -->
      <td>{{this.assunto}}</td>
      <td>
        <a href="/atendimentos/{{this.id}}/edit">Editar</a>
        <form action="/atendimentos/{{this.id}}?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Deletar</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>


