<main class="container mt-5">
    <h2 class="text-center mb-4">Editar Profissional</h2>
    <form action="/profissionais/{{profissional.id}}?_method=PUT" method="POST" class="mt-4" enctype="multipart/form-data">
        <fieldset class="border rounded p-4 mb-4">
            <legend class="w-auto px-2">Informações Pessoais</legend>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" name="nome" value="{{profissional.nome}}" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" value="{{profissional.email}}" required>
                </div>
            </div>
            <!-- Campos de RG, CPF e Data de Nascimento -->
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="rg">RG:</label>
                    <input type="text" class="form-control" name="rg" value="{{profissional.rg}}" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="cpf">CPF:</label>
                    <input type="text" class="form-control" name="cpf" value="{{profissional.cpf}}" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="dataNascimento">Data de Nascimento:</label>
                    <input type="date" class="form-control" name="dataNascimento" value="{{profissional.dataNascimento}}" required>
                </div>
            </div>
            <!-- Sexo e Estado Civil -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="sexo">Sexo:</label>
                    <select class="form-control" name="sexo" required>
                        <option value="Masculino" {{#if (eq profissional.sexo "Masculino")}}selected{{/if}}>Masculino</option>
                        <option value="Feminino" {{#if (eq profissional.sexo "Feminino")}}selected{{/if}}>Feminino</option>
                        <option value="Outro" {{#if (eq profissional.sexo "Outro")}}selected{{/if}}>Outro</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="estadoCivil">Estado Civil:</label>
                    <select class="form-control" name="estadoCivil">
                        <option value="Solteiro" {{#if (eq profissional.estadoCivil "Solteiro")}}selected{{/if}}>Solteiro</option>
                        <option value="Casado" {{#if (eq profissional.estadoCivil "Casado")}}selected{{/if}}>Casado</option>
                        <option value="Divorciado" {{#if (eq profissional.estadoCivil "Divorciado")}}selected{{/if}}>Divorciado</option>
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset class="border rounded p-4 mb-4">
            <legend class="w-auto px-2">Imagem Profissional</legend>
            <div class="form-group">
                <label for="imagem">Carregar Imagem:</label>
                <input type="file" class="form-control" name="imagem" id="imagem" accept="image/*" onchange="previewImage(event)">
                <small class="form-text text-muted">Formato aceito: JPG, PNG, GIF.</small>
                <img id="imagemPreview" src="{{profissional.imagemURL}}" alt="Pré-visualização da Imagem" style="display:block; margin-top:10px; max-width:200px;">
            </div>
        </fieldset>

        <fieldset class="border rounded p-4 mb-4">
            <legend class="w-auto px-2">Dados Bancários</legend>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="nomeBanco">Banco:</label>
                    <input type="text" class="form-control" name="nomeBanco" value="{{profissional.nomeBanco}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="agencia">Agência:</label>
                    <input type="text" class="form-control" name="agencia" value="{{profissional.agencia}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="contaBanco">Conta:</label>
                    <input type="text" class="form-control" name="contaBanco" value="{{profissional.contaBanco}}">
                </div>
            </div>
        </fieldset>

        <fieldset class="border rounded p-4 mb-4">
            <legend class="w-auto px-2">Informações Profissionais</legend>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="matricula">Matrícula:</label>
                    <input type="number" class="form-control" name="matricula" value="{{profissional.matricula}}" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="dataAdmissao">Data de Admissão:</label>
                    <input type="date" class="form-control" name="dataAdmissao" value="{{profissional.dataAdmissao}}" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="cargo">Cargo:</label>
                    <select class="form-control" name="cargo" required>
                        <option value="Assistente social" {{#if (eq profissional.cargo "Assistente social")}}selected{{/if}}>Assistente social</option>
                        <option value="Administrador" {{#if (eq profissional.cargo "Administrador")}}selected{{/if}}>Administrador</option>
                        <option value="Psicólogo" {{#if (eq profissional.cargo "Psicólogo")}}selected{{/if}}>Psicólogo</option>
                        <option value="Psiquiatra" {{#if (eq profissional.cargo "Psiquiatra")}}selected{{/if}}>Psiquiatra</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="vinculo">Vínculo:</label>
                    <select class="form-control" name="vinculo" required>
                        <option value="Servidor" {{#if (eq profissional.vinculo "Servidor")}}selected{{/if}}>Servidor</option>
                        <option value="Voluntario" {{#if (eq profissional.vinculo "Voluntario")}}selected{{/if}}>Voluntário</option>
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset class="border rounded p-4 mb-4">
            <legend class="w-auto px-2">Endereço</legend>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="cep">CEP:</label>
                    <input type="text" class="form-control" name="cep" value="{{profissional.cep}}" required>
                </div>
                <div class="form-group col-md-8">
                    <label for="endereco">Endereço:</label>
                    <input type="text" class="form-control" name="endereco" value="{{profissional.endereco}}" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="bairro">Bairro:</label>
                    <input type="text" class="form-control" name="bairro" value="{{profissional.bairro}}" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="cidade">Cidade:</label>
                    <input type="text" class="form-control" name="cidade" value="{{profissional.cidade}}" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="estado">Estado:</label>
                    <input type="text" class="form-control" name="estado" value="{{profissional.estado}}" readonly>
                </div>
            </div>
        </fieldset>

        <fieldset class="border rounded p-4 mb-4">
            <legend class="w-auto px-2">Contato</legend>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="telefone">Telefone:</label>
                    <input type="text" class="form-control" name="telefone" value="{{profissional.telefone}}">
                </div>
                <div class="form-group col-md-6">
                    <label for="tipoTelefone">Tipo de Telefone:</label>
                    <select class="form-control" name="tipoTelefone">
                        <option value="Celular" {{#if (eq profissional.tipoTelefone "Celular")}}selected{{/if}}>Celular</option>
                        <option value="Fixo" {{#if (eq profissional.tipoTelefone "Fixo")}}selected{{/if}}>Fixo</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="telefoneContatoEmergencia">Telefone de Emergência:</label>
                    <input type="text" class="form-control" name="telefoneContatoEmergencia" value="{{profissional.telefoneContatoEmergencia}}">
                </div>
            </div>
        </fieldset>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            <a href="/profissionais" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</main>
